body{
  overflow-x: hidden;

  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(16, 68, 80) 0%, rgba(255, 255, 255, 0.701) 0%, rgb(129, 218, 241) 100%);
}

/* .carousel .item {
    height: 50px !important;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 50px !important;
  } */

  /* #carousel{
    max-height: 50px;
  } */

#carousel{
    
}
  #fotoPrincipal {
    height: 400px;
    width: 100%;
    background-image: url('../img/afterWork/fotoInicio.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
   margin-bottom: 15vw;
    
  }

  #fotoPrincipal h1{
    /* margin-top: 3vw; */
    font-size: 10vw;
    font-weight: 100;
    text-align: center;
   


  
    
  }
   p, li{
    font-size: 25px;
    
  }
  
  .cubo{
    width: 300px;
  }

  @media (min-width: 900px) {
    .cubo{
      height: auto;
      width: 500px;
      margin-left: 25vw;
  transform: translate(-50%);
    }
  }