.centrar{

}
#avatar{
    width: 50%;
    height: auto;
}
.creditos{
   
}
footer{


}

.card{
    background-color: rgb(152, 151, 151);
    margin-bottom: auto;
}

#menu{
  display: flex;
  flex-direction: column;
}
.izquierda{
/* position: absolute;
left: 20%; */
margin-left: auto;

}

.derecha{
  /* position: absolute;
  right: 20%;
  clear: left; */
  margin-right: auto;
  
}
.botones{
    display: flex;
    flex-direction: row-reverse;
}
.boton1{
    margin: 5px;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: #F01717;
}
.boton2{
    margin: 5px;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: #0665F4;
}
.boton3{
    margin: 5px;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: #17F0BC;
}



/*////////////////////////////////////////////////////*/
.columnas{
    width: 100%;
}

.volver{
   
}
.volver{
    background-color: #F01717;
    position: fixed;
    top: 30px;
    z-index: 1;
    float: left;
    left: 80%;
    width: 7%;
    height: 7%;
    border-radius: 100%;
}

.fondodesk{
  /* background-color: red; */
  border: 1px solid red;
  height: 100%;
  width: 100%;
  position: relative;
}
@media only screen and (min-width: 576px) {
  .fondodesk{
    min-height: 300px;
  width: 100%;
    background-image: url(../img/desktop2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 2%;

    /* background-color: #050d18; */
  }
  .card{
    width: 140px;
      height: 95px;
      margin-top: 15px;
  }
  }



  @media only screen and (min-width: 768px) {
    .fondodesk{
       min-height: 400px;
   
    }

    .card{
      width: 240px;
        height: 150px;
        margin-top: 10px;
    }
    }


    @media only screen and (min-width: 992px) {
      .fondodesk{
         min-height: 560px;
   
      }
  
      .card{
        width: 340px;
        height: 200px;
        margin-top: 20px;
      }
      }


      @media only screen and (min-width: 1200px) {
        .fondodesk{
           max-height: 800px;
           background-size: 1000px 600px;
           background-position-x: center;
     
        }
    
        .card{
          max-width: 470px;
          max-height: 280px;
          margin-top: 30px;
        }
        }

/* drgtfd */
 



.flecha{
  margin-top: -30px;

}


/**********************************************************
seccion
*/
.ocultar{
  visibility: hidden;
  display: none;
}
.ocultarlento{
  opacity: 2;
  animation: ocultarLento2 2s linear;
}
@keyframes ocultarLento2 {
  100%{
    opacity: 0;
  }
  
}
.reaparecer{
  visibility: visible;
  display: block;
}

#imgMinimizar{
  width: 40px;
  height: 40px;
  transform: rotate(-90deg);
}