.puzzle{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 1000px;
   background-color: black
}

img{
    opacity: 0.7;
}

img:hover{
    opacity: 1;
}
img:nth-child(1){
    position: absolute;
    top:20px;
    left:607px
    

}
img:nth-child(2){
    position: absolute;
    top:20px;
    left:827px
  
    
}
img:nth-child(3){
    position: absolute;
    top:244px;
    left:637px

}