body{
    display: flex;
    flex-direction: column;
}


nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
}
nav ul li{
    margin:5px;
    padding: 10px;
   
}
nav ul li a{
    padding: 10px;
    background-color: #dddddd;
}

#slider{
    display: flex;
    justify-content: center;
}

#homepage{
    
    display: flex;
    justify-content: center;
    
}
#services{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  
    width: 960px; 
    

}
.cuerpo{
    /* max-width: 960px; */
    /* margin:auto; */
}

.columna:nth-child(1){
    margin-right: 5%;

}
.columna:nth-child(2){
    margin-right: 2.5%;
    margin-left: 2.5%;

}
.columna:nth-child(3){
    margin-left: 2.5%;

}


.columna img{
  width: 100%;
  
 
}
.izquierda{
    /* align-items: flex-start; */
}
































/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


 
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
[class*="col-"] {
  float: left;

 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
}
